spring.application.name=gestaoartesaos
jwt.public.key=classpath:certs/dev-public.pub
jwt.private.key=classpath:certs/dev-private.key

spring.sql.init.mode=always
spring.jpa.defer-datasource-initialization=true
spring.jpa.hibernate.ddl-auto=update
spring.datasource.url=jdbc:postgresql:url-do-seu-banco-de-dados
spring.datasource.username=postgres
spring.datasource.password=sua-senha-aqui
spring.datasource.driver-class-name=org.postgresql.Driver

whatsapp.api.url=http://localhost:3000/messages
whatsapp.api.token=dev-token
